* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: 	hsl(314, 6%, 41%);
}

html, body {
    margin: 0;
    padding:0;
   
}

/*Navigation*/

nav {
    height: 80px;
    position: fixed;    
    width: 100%;
    color: 	hsl(314, 6%, 41%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo img {
    height: 50px;
    margin: 10px 0;
    margin-left: 30px;
    padding-right: 5px;
    align-self: center;
}

.logo {
    display: inline-flex;
}

.logo h1 {
    align-self: center;
    font-size: 2rem;
}

nav .links {
    margin: 0 30px;
    display: flex;
    align-items: center;
}

.links a {
    font-size: 1.5rem;
    margin: 15px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-decoration-color: hsl(314, 6%, 41%);
    color: 	hsl(314, 6%, 41%);
}

.small-navbar { 
   display: none;
       
    }


@media only screen and (max-width: 768px) {
 
    .links a {
        display: none;
    }

    .small-navbar { 
        width: 40px;
        height: auto;
        display: block;
        margin-right: 30px;
    }
}

/*Main*/

.main {
    background-image: url("images/main-pic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 650px;
    display: flex;
    align-items: center;
    padding-top: 80px;
    text-align: center;
    margin-bottom: 40px;
 }

 .main h2  {
    align-self: baseline;
    width: 100%;
    font-size: 2rem;
    color: rgb(148, 0, 74);
}

/*Menu*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 100px;
}


#menu {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1rem;
}

.menu-item {
    margin-left: 30px;
}

.menu-item img {
    width: 400px;
    height: 300px;
}

.menu-item h3 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}


/*Team*/

.team-container {
    background-color: rgb(247, 247, 247);
 }

.team  {
    display: flex;
    justify-content: center;
    border-bottom: 1px  rgb(148, 0, 74) solid;
    flex-wrap: wrap;
 }

.team-container h2 {
    text-align: center;
    font-size: 2.5rem;
    padding:  30px;
    border-top: 1px  rgb(148, 0, 74) solid;
    letter-spacing: 0.5rem;
 }

.team img {
    height: 500px;
    width: 350px;
 }

.team-member {
    margin: 15px;
 }

.name {
    font-size: 2rem;
    text-align: center;
 }

 .position  {
    font-size: 1.5rem;
 }

/*Footer*/

 .footer {
    padding-top: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px 30px;
    flex-wrap: wrap;
 }

 .footer p {
   font-size: 1.5rem;
   margin: 10px 50px;
 } 

 .footer a {
    text-decoration: none;
    color: 	hsl(314, 6%, 41%);
    font-size: 1.5rem;
 }







